<article class="card">
    <img class="card-media" src="{{ post.media }}" alt="" />
    {% include tag.html tag=post.tag classname="card-tag" %}
    <div class="card-content">
        <h1 class="card-title">
            <u>{{ post.app_name }}</u>: {{ post.title }}
        </h1>

        <div class="card-description">
            {{ post.content | strip_html | truncate: 100 }}
        </div>
    </div>
    <a
      class="read-more-button"
      href="{{ post.url | prepend: site.baseurl }}"
    >
      Read more
    </a>
</article>
