<article class="card">
    <img class="img" src="https://cdn.dribbble.com/users/61576/screenshots/3242739/attachments/695217/vpn-dashboard-design-caldhela-bigger-version.png">
    <div class="card-content">
        <header class="card-header">
        <h1 class="card-title">Netflix</h1>
        <span class="card-tag">Non-perceivable</span>
        </header>
        <div class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, in?</p>
        </div>
    </div>
    <a class="read-more-button" href="#">Read more</a>
</article>