<footer class="main-footer">
    <p class="footer-disclaimer">A <strong>a11y.rocks</strong> project.</p>
    <nav>
      <ul class="footer-list-links">
        <li>
          <a
            class="special-link footer-link"
            href="{{ site.github_repo }}#about"
            target="_blank"
            rel="noopener noreferrer"
          >
            <u>About</u>
          </a>
        </li>
        <li>
          <a
            class="special-link footer-link"
            href="{{ site.github_repo }}/blob/master/.github/CONTRIBUTING.md"
            target="_blank"
            rel="noopener noreferrer"
          >
            <u>Contribute on GitHub</u>
          </a>
        </li>
      </ul>
    </nav>
</footer>
