<a class="special-link" href="#main-content">Skip to Content</a>
<header class="main-header">
  <nav class="main-header-links">
    <a class="special-link" href="https://github.com/a11yrocks/issues#about">About</a>
    <a class="special-link" href="https://github.com/a11yrocks/issues/blob/master/.github/CONTRIBUTING.md">Contribute</a>
  </nav>

  <h1 class="main-title">
    <a class="special-link" href="/">a11y <span>Issues</span></a>
  </h1>

  <h2 class="main-slogan">{{ site.description }}</h2>
</header>
