body {
  font-family: var(--font-sans);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: #f9f9f9;
}

.main-content {
  margin-top: -70px;
}

.cards {
  padding: 5px 20px;

  @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
  }
}