body {
  font-family: var(--font-sans);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: #f9f9f9;
}

.cards {
  padding: 5px 20px;
  margin-top: -70px;

  @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
