.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
  position: relative;
  transition: all 250ms ease-out;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: 1;
    height: 200px;
    box-shadow: inset 0 65px 40px -15px rgba(0, 0, 0, 0.45);
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
  }

  @media (min-width: 640px) {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }

  @media (min-width: 840px) {
    flex-basis: calc(33.3% - 20px);
  }

  @media (min-width: 1200px) {
    flex-basis: calc(25% - 20px);
  }
}

.card-media {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 10px 10px 0 0;
  display: block;
}

.card-content {
  padding: 20px 30px;
  color: #555;
}

.card-title {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  float: left;
  color: #000;
  margin-bottom: 10px;
  width: 100%;
  height: 24px; /* or calc(16px * 1.5 * 1), meaning font-size = 16px (default) * line-height = 1.5 * amount of lines */
  overflow: hidden;
  line-height: 1.5;

  &::after {
    display: block;
    position: absolute;
    width: 20%;
    height: 1.5rem;
    background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
      80%
    );
    content: "";
    text-align: right;
    bottom: 0;
    right: 0;
  }
}

u {
  border-bottom: 3px solid var(--color-yellow);
  text-decoration: none;
  padding-bottom: 1px;
}

.card-tag {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  float: right;
}

.card-description {
  margin-top: 10px;
  clear: both;
}

.read-more-button {
  background: #fff;
  padding: 15px 20px;
  border-top: 1px solid #e2e2e2;
  text-transform: uppercase;
  border-radius: 0 0 10px 10px;
  font-size: 13px;
  display: block;
  text-align: center;
  color: #000;
  font-weight: 800;
  text-decoration: none;
  transition: all 100ms ease-out;

  &:hover {
    background: var(--color-yellow);
  }
}
