.main-header {
  background: #FED835;
  text-align: center;
  padding: 80px 0;
  height: 300px;
  overflow: auto;
}

.main-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;

  & span {
    font-weight: 800;
  }
}

.main-slogan {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
}
