.main-header {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 45px 20px calc(70px + 45px);
}

.main-header-links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;

  & a {
    font-weight: bold;
    border: 0;
    text-decoration: none;
    padding: 0 7px;
    font-size: 14px;
    color: #fff;
  }
}

[href="#main-content"] {
  position: absolute;
  top: -100%;

  &:focus {
    position: relative;
    top: 0;
  }
}

.main-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;

  & span {
    font-weight: 800;
  }

  & a {
    text-decoration: none;
    color: var(--color-yellow);
  }
}

.main-slogan {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #ddd;
}
