.tag {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-yellow);
  color: #000;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.tag-icon {
  display: inline-flex;

  & svg {
    fill: #000;
    margin-right: 5px;
    width: 18px;
  }
}
