---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <p class="post-subtitle">
        <a href="{{ page.url }}" target="_blank" rel="noopener noreferrer">
          <u>Acessibility issue on {{ page.app_name }}</u>
        </a>
      </p>
      {% include tag.html tag=page.tag classname="post-tag" %}
    </div>
  </header>

  <div class="post-description">
    {{ page.content }}
  </div>

  <footer class="post-footer">
    <ul>
      <li><strong>Report:</strong> {{ page.title }}</li>
      <li><strong>Website:</strong> {{ page.app_name }}</li>
      <li><strong>URL:</strong> <a href="{{ page.app_url }}" target="_blank" rel="noopener noreferrer">{{ page.app_url }}</a></li>
      <li>Reported on <time datetime="{{ page.date }}s">{{ page.date | date: "%b %-d, %Y" }}</time></li>
    </ul>
  </footer>

  <div class="post-share">
    <a
      href="https://twitter.com/intent/tweet?text=
        There's an accessibility issue on {{ page.app_name }}! {{ site.url }}{{ page.url }}
      "
      target="_blank"
      rel="noopener noreferrer"
      class="share-twitter"
    >
      <u>Share on Twitter</u> {% include icons/twitter.html %}
    </a>
  </div>
</article>
