:root {
  --color-yellow: #FFEB00;
  --color-border-light: #DEDEDE;
  --font-sans: BlinkMacSystemFont, -apple-system, Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

@custom-media --small (width < 620px);
@custom-media --medium-up (width >= 620px);
@custom-media --large-up (width >= 830px);
